* {
    font-family: 'Montserrat', sans-serif
}

.about {
    position: relative;
}

.container {
    padding: 50px 30px;
    width: 1050px;
    overflow: hidden;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.about__content-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.about__block {
    padding: 10px 20px;
    border: 5px solid #00B5E2;
    border-radius: 20px;
}

hr {
    background-color: #00B5E2;
    border: none;
    height: 3px;
}

.slider {
    width: 350px;
    margin: 0 auto;
}

.slider-track {
    display: flex;
    gap: 10px;
    transform: translateX(-720px);
    transition: transform 0.5s ease-in-out;
}

.about__block {
    min-width: 100%;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    transform: scale(0.8);
    opacity: 0.3;
    user-select: none;
}

.about__block.active {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0px 0px 80px #00B5E2;
}

.prev,
.next {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 60px;
    transform: translateY(50%);
    background-color: transparent;
    border: none;
}

.prev {
    left: 20%;
}

.next {
    right: 20%;
}

.prev::before,
.prev::after,
.next::before,
.next::after {
    content: '';
    position: relative;
    display: block;
    width: 40px;
    height: 5px;
    background-color: #00B5E2;
    border-radius: 10px;
    transition: all 0.5s;
}

.prev::before {
    bottom: 14%;
    transform: rotate(-35deg);
}

.prev::after {
    top: 14%;
    transform: rotate(35deg);
}

.next::before {
    bottom: 14%;
    transform: rotate(35deg);
}

.next::after {
    top: 14%;
    transform: rotate(-35deg);
}

.prev:hover::before,
.prev:hover::after,
.next:hover::before,
.next:hover::after {
    box-shadow: 0 0 10px #00B5E2;
}

.carousel-dots__content {
    position: absolute;
    height: 100px;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.dot {
    width: 50px;
    height: 10px;
}

.dot  {
    display: block;
    width: 50px;
    height: 10px;
    background-color: transparent;
}

.dot span {
    position: relative;
    top: 5px;
    display: block;
    width: 50px;
    height: 1px;
    background-color: #00B5E2;
    border-radius: 10px;
}

.dot.active span {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    height: 5px;
    transition: all 0.5s;
    pointer-events: none;
}

@media (max-width: 1500px) {
    .prev {
        left: 5% !important;
    }
    
    .next {
        right: 5% !important;
    }
}

@media (max-width: 1250px) {
    .container {
        width: 550px;
    }
}

@media (max-width: 768px) {
    .prev,
    .next {
        display: none;
    }

    .about__content-inner {
        gap: 0;
    }

    .container {
        width: 350px;
        padding: 0;
    }
    
    .slider {
        width: 350px;
        padding: 0;
    }

    .about__block.active {
        box-shadow: 0 0 0 transparent;
    }
}